body {
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: 0;
    font-size: 18px;
}

header {
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 80px;
}

.nav-bar {
    list-style: none;
    display: flex;
    background-color: #363636;
    padding: 0;
}

.nav-bar li {
    padding: 10px 15px;
}

.nav-bar li:hover {
    background-color: white;
    cursor: pointer;
}

nav li:hover a {
    color: black;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}

#hero-image {
    background-image: url('imgs/hero_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
    font-weight: bolder;
    font-size: 2.5rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;

    height: 60vh;
    padding: 40px;
}

#hero-image h1 {
    margin: 0;
}

#hero-image span {
    color: #33FF00;
}

#cta-register-info span {
    font-weight: bold;
}

.yellow-card {
    background-color: #FFE25F;
}

.red-card {
    background-color: #FF6B6B;
}

#tournament-main-info {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 20px;
    gap: 20px;
    min-height: 35vh;
    justify-content: space-between;
    height: auto;
}

#cta-register-info {
    flex-grow: 1;
    border: 1px solid rgb(190, 190, 190);
    text-align: center;
    padding: 0px 20px;
    max-width: 600px;
    box-shadow: 2px 2px 5px rgb(193, 193, 193);
}

#color-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.card {
    padding: 5px 20px;
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 5px rgb(193, 193, 193)
}

.card p {
    margin: 10px 0;
}

.card h2, h3 {
    margin: 5px 0;
}

.card h2{
    font-size: 30px;
}

#btn-register {
    display: inline-block;
    background-color: #00a50e;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
}

#btn-register:hover {
    background-color: #007e0a;
}

#cta-register-info p {
    margin: 10px;
}